.button {
  background: transparent;
  border: none;
  box-shadow: 0px 2px 10px 0px rgb(51 51 51 / 60%);
  display: inline-flex;
  padding: var(--space-md) var(--space-lg);
  cursor: pointer;
  border-radius: var(--radius);
  font-weight: bold;
  font-size: 0.875rem;
  font-family: inherit;
  color: var(--foreground);

  transition-property: filter, box-shadow;
  transition-duration: 300ms;
  transition-timing-function: ease;

  &:hover {
    filter: brightness(110%);
    box-shadow: 0px 2px 10px 2px rgb(51 51 51 / 60%);
  }
}

.button.shine {
  background-position: 100% 0;
  background-size: 200% 100%;
  background-image: linear-gradient(
    120deg,
    var(--background) 45%,
    rgba(40, 48, 60, 0.5) 55%,
    var(--background) 65%
  );

  animation: buttonShine 2s linear infinite;
}

.button.accent {
  background: linear-gradient(115deg, var(--accent), var(--secondary) 45%);
  color: var(--black);
}

.button.default {
  padding: 1rem;
}
